<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Kura Target Platform Equinox 3.11.1" sequenceNumber="49">
<locations>
<location path="C:\Users\Admin\kura-3.0\user_workspace_archive_3.0.0.zip_expanded\target-definition\common\repository\plugins" type="Directory"/>
<location path="C:\Users\Admin\kura-3.0\user_workspace_archive_3.0.0.zip_expanded\target-definition\equinox_3.11.1\repository\plugins" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.3.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201602281253"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector"/>
</location>
</locations>
</target>
